{% extends 'base.html' %}

{% block header %}
<h2 class="text-center my-4">{% block title %}Welcome to TourGuide {% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="container mb-10">
    <div class="row">
        <div class="col-md-12">
            <h4>Available Datastacks:</h4>
            <ul class="list-group">
                {% for datastack in datastacks %}
                    {% set is_odd = loop.index0 % 2 != 0 %}
                    {% set bg_class = 'list-group-item-light' if is_odd else '' %}
                    
                    <li class="list-group-item {{ bg_class }}">
                        <a href="{{ base_url }}/app/datastack/{{ datastack }}">{{ datastack }}</a>
                    </li>
                    {% for mirror in mirrors[datastack] %}
                        <li class="list-group-item ps-2 py-2 small {{ bg_class }}">
                            <span class="me-2">•</span>
                            <a href="{{ base_url }}/app/datastack/{{ datastack }}?mirror={{ mirror }}">
                                Imagery: {{ mirror }}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<p class="text-right my-4 pr-5 text-muted">Version {{ version }}</p>
{% endblock %}